<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
</head>
<body style="padding:30px">
<form action="/adddevice_form" method="post">
    <div><label>Name:<br>
        <input name="name">
    </label></div>
    <div><label>IMEI:<br>
        <input name="imei">
    </label></div>
    <div><input type="submit" value="Send"></div>
</form>

{% for device in devices %}
    <p>
        <span style="color:gray">Name:</span> {{ device.name }}<br>
        <span style="color:gray">IMEI:</span> {{ device.imei }}<br>
    </p>
{% endfor %}

</body>
</html>